<div class="d-flex justify-content-center align-items-center flex-column">
    <div class="mb-5 mt-5">
        <h1 class="text-center">About Us</h1>
    </div>
    <div class="w-75">
        <p class="">
            GitHot Tracker is a web application designed by students of Coder Academy for the tracking and discussion of recent trending repositories on Github! This was created during a 2 day hackathon.
        </p>
        <div class="text-center">
                Find us on Github:
            <li class="contact-list"><a href="https://github.com/morganw-code">Morgan Webb</a></li>
            <li class="contact-list"><a href="https://github.com/HughG-50">Hugh Greethead</a></li>
            <li class="contact-list"><a href="https://github.com/AaronL1011">Aaron Lewis</a></li>
        </div>
    </div>
</div>
